DATABASE_URL="file:./dev.db"
CLERK_PUBLISHABLE_KEY=pk_test_cHJvYmFibGUtbWFuLTc4LmNsZXJrLmFjY291bnRzLmRldiQ
CLERK_SECRET_KEY=sk_test_q3gzzB6CwsNTxuWis2FLeImfjqZrQoNlFjyUQwJRK8
PORT=3000
FRONTEND_URL=http://localhost:5173